{% extends "base.html" %} {% block title %}分类列表{%endblock%} {% block bc %}
<li class="breadcrumb-item"><a href="/category">分类管理</a></li>
{% endblock %} {% block content %} 
<form class="row" method="get" action="/category">
    <div class="col-auto">
    <label class="visually-hidden" for="keyword">关键字</label>
    <div class="input-group">
      <div class="input-group-text">关键字</div>
      <input type="text" class="form-control" id="keyword" name="keyword" placeholder="输入关键字">
    </div>
  </div>
  <div class="col-auto">
    <label class="visually-hidden" for="is_del">是否删除</label>
    <select class="form-select" id="is_del" name="is_del">
      <option value="-1" selected>全部</option>
      <option value="0">未删除</option>
      <option value="1">已删除</option>
    </select>
  </div>
  <div class="col-auto">
    <label class="visually-hidden" for="sort">排序</label>
    <select class="form-select" id="sort" name="sort">
      <option value="" selected>默认排序</option>
      <option value="asc">升序</option>
      <option value="desc">降序</option>
    </select>
  </div>
  <div class="col-auto">
    <label class="visually-hidden" for="page_size">每页条数</label>
    <select class="form-select" id="page_size" name="page_size">
      <option value="0" selected>默认条数</option>
      <option value="3">每页3条</option>
      <option value="5">每页5条</option>
      <option value="10">每页10条</option>
    </select>
  </div>
  <div class="col-auto">
    <button type="submit" class="btn btn-primary"><i class="bi bi-search"></i> 搜索</button>
  </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>名称</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        {% for category in categies %}
        <tr>
            <td>{{ category.id }}</td>
            <td>{{ category.name }}</td>
            <td>
                <a href="/category/edit/{{ category.id }}" class="btn btn-primary btn-sm">修改</a>
                <a href="/category/del/{{ category.id }}" class="btn btn-danger btn-sm" onclick="return confirm('确定删除“{{ category.name }}”？')">删除</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{%endblock%}
